@import url("https://fonts.googleapis.com/css?family=Tomorrow&display=swap");

body {
    font-family: "Tomorrow" , sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

p,
h1,
h2,
h3 {
    color: #00ff00;
}

.sub-title {
    margin-top: 5%;
}

/* Navbar */

.navbar-light .navbar-brand {
    color: #00ff00 ;
}

.navbar-light .navbar-brand:hover {
    color: forestgreen ;
}
.navbar-light .navbar-nav .nav-link {
    color: #00ff00 ;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: forestgreen ;
}

.social-icons a {
    color: #00ff00 ;
}

.social-icons a:hover {
    color: forestgreen ;
}
/* Navbar END*/

/* Landing */
#name-title {
    margin: 20% 0% 0% 10%;
}

#description-title {
    margin: 5% 0% 0% 20%;
}

#buttons {
    margin: 10% 0% 0% 40% ;
}

#my-img {
    margin: 10% 0% 0% 25%; /* T R B L*/
    width: 400px;
    height: auto;
}
/* Landing END*/

/* Services */
.icons {
    text-align: center;
    color: forestgreen;
}

.icon-description {
    margin-top: 20px;
}
/* Services END */

/* Skills */

.bar-title {
  font-weight: bold;
  font-size: 20px;
  color: #00ff00;
}

.bar {
  width: 90%;
  height: 35px;
  background: none;
  border-radius: 5px;
  /* border-color: #00ff00; */
  /* border-style: solid; */
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: forestgreen;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #00ff00;
  font-size: 18px;
}
/* Skills END */

/* Portfolio */
.card {
    background: none;
    border-style: solid;
    border-color: #00ff00;
}

.card-title {
    color: #00ff00;
}

.card-text {
    color: forestgreen;
}
/* Portfolio END */